body {
  background: #FFF url(/images/bg.png) repeat-y 50% 0;
  font-family: Helvetica, Arial;
  font-size: 14px;
	margin:0;
	color:#555555;
}

a {
	color: #be4545;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
  border: none;
}

#flash_notice {
	background-color:#A6FF33;
	color:#000000;
	margin-bottom:20px;
	padding:10px;
}

#errorExplanation {
	background-color:#BE4545;
	color:#EEEEEE;
	padding:10px;
}

#container {
	position:relative;
  width: 681px;
  margin: 0 auto;
}

#topbar {
	position:relative;
	background:#000 url(/images/bg-topbar.png) no-repeat;
	padding:38px 0 10px 18px;
	width:699px;
	position:relative;
	right:20px;
	color:#FFF;
}

#topbar a, #topbar span {
	color:#555;
}

#topbar a:hover {
	color:#EEE;
}

#topbar #etrangelabs {
	position:absolute;
	top:31px;
	right:16px;
	display:block;
	background:transparent url(/images/etrangelabs.gif) no-repeat;
	width:129px;
	height:24px;
	text-indent:-9999px;
}

#logo {
  margin: 40px;
  text-align: right;
}

#main {
	padding:20px;
}

#feeds {
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:77px;
	left:-16px;
}

#rss-feed a, #itunes-feed a {
	display:block;
	height:62px;
	width:134px;
	text-indent:-9999px;
	overflow:hidden;
}

#rss-feed a {
	background:transparent url(/images/rss.gif) no-repeat;
}

#itunes-feed a {
	background:transparent url(/images/itunes.gif) no-repeat;
}

#footer {
	background-color:#111;
	/*padding:30px;*/
}

#footer h4 {
	margin:0;
}

#footer .block {
	float:left;
	width:300px;
	padding:20px;
}

.episode h2 {
	margin:0 0 -6px 0;
}

.episode h2 a {
	font-size:30px;
	color:#555555;
}

.episode .description {
	font-size:18px;
	margin-bottom:10px;
}

.episode .download {
	padding:10px;
	background-color:#EEE;
	margin:10px;
}

.comments_count {
	text-align:right;
}

#comments hr {
	background-color:#EEE;
	border:none;
	margin-bottom:30px;
}

.comment_content {
	background-color:#EEE;
	padding:5px 10px;
}

.clear {clear:both;}
