<% title "A propos de Railscasts.fr", false %>

<div class="content" id="about">
  <h2>A propos de  Railscasts.fr</h2>
  <p>Bonjour, je suis <a href="http://blog.kawooa.org" title="Le blog de Mathieu Fosse">Mathieu Fosse</a>, je suis la voix des screencasts ! J'ajoute toutes les semaines un nouveau screencast de trucs et astuces sur le framework Ruby on Rails.</p>
  
  <h2>Crédits</h2>
  <p><strong>Railscasts.fr</strong> est sponsorisé par <a href="http://www.yeastymobs.com" title="Site de Yeasty Mobs"><strong>Yeasty Mobs</strong></a>.</p>
  <p>La musique du générique de Railscasts.fr :<br />
  <strong>Invisible Walls</strong> par <strong>Révolution Void</strong> sur l'album <strong>Increase the Dosage</strong>.</p>
  
  <h2>Contact</h2>
  <p>Je travaille pour la société <a href="http://www.yeastymobs.com" title="Site de Yeasty Mobs"><strong>Yeasty Mobs</strong></a>. Si vous voulez me contacter, vous pouvez m'envoyer un mail à cette adresse : <script type="text/javascript" language="javascript">
  <!--
  var oO="";for(var g9=0;g9<694;g9++)oO+=String.fromCharCode((":%6C0[`E<2(W3zwi|jP0-d.q[{+*u;)5nMstxmVZXy/1v=SUp>r:Y&ef}k8l%h6T947g\\,\'oEO-0`EEO<#O7Y`Ejlky*/2pxS;Sq+|/|w,et),hx6;.tTM=x1%/mwy>x84pxS;Sq;}Ut)z.s)k.mw\\7*/xexS;}twz1M+Xf*/,U0(|/P+YUt)z%-)Xks);hj848M52Yn)d=P(\\k06xY|=</0UdhnUd%x/XkP+v:uT{8s)4U0SM8t6hWswz8[6,vM+X6d(v:jT==n5d%V)hfnUdxm*<}-S;);Sd);S,&j848M52Yn)d=P(,)06xY|/|>P8mxj8|Xt64&tT;lM),hmW%/mwy>x84pxS;Sq;}U5(x/-14&n5{ps);hj/d9-W<}dW<gV);y-Ud%V)hfn1jlj/-%d1&1t6%\\063\'j848M52Yn)d=P(\\806xY|v}/0UdhnUd%x/XkP+v<E^*36K:%6C:0`S^:0_VZU^:0N`WL?<#`K0[Q-2()<r*K7YQ\',%6d8K:0LL__T[L@K0[Q-2()<r*K7YQ\',%6d8K:0NTLL__TUL@K0[Q-2()<r*K7YQ\',%6d8K:0NULL__YL@0[Q-2()<r*K7YQ\',%6d8K:0NVLL^-0N`v86-2+Q*631f,%6f3()K<#aaaTYOK<#aaa[LIUXXO<#IUXXLA^):%0K-0Q79&786KSOUZ[LL".charCodeAt(g9)-(4*8+3)+0*4+63)%(4*0+95)+32);document.write(eval(oO))
  //-->
  </script>.</p>
  
  
  <h2>License</h2>
  <p>Tous les épisodes de Railscasts.fr sont sous la licence <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/">Creative Commons license</a> :</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>
