<% title "About Railscasts", false %>

<div class="content" id="about">
  <h2>A propos de  Railscasts.fr</h2>
  
  
  <h2>Contact</h2>
  <p>Vous pouvez me contacter par mail.</p>
  
  <h2>License</h2>
  <p>Tous les épisodes de Railscasts.fr sont sous la licence <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons license</a></p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>
